<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>-->
  <connectionStrings>
    <!--<add name="SQLConnString" connectionString="server=.;database=Wind;uid=sa;pwd=myb1991517"/>-->
  </connectionStrings>
  <appSettings>
    <add key="table_0" value="DamageRate"/>
    <add key="table_1" value="insectNum"/>
  </appSettings>
</configuration>