<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>-->
  <connectionStrings>
    <add name="SQLConnString" connectionString="Data Source=RICH1;Initial Catalog=Grain;User ID=sa;Password=sunchong1995;Integrated Security=False"/>
  </connectionStrings>
  <appSettings>
    <add key="table_0" value="DamageRate"/>
    <add key="table_1" value="insectNum"/>
  </appSettings>
</configuration>